@using Microsoft.AspNetCore.Mvc.Razor
@model IPageViewModel<SitePageData>

@{ HelperResult ItemTemplate(HtmlHelpers.MenuItem firstLevelItem) {
	    <div class="accordion-heading">
	        <a href="@Url.ContentUrl(firstLevelItem.Page.PageLink)" class = "@(firstLevelItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink) ? "accordion-toggle active" : "accordion-toggle")" data-parent="#alloyDrop">
	            @firstLevelItem.Page.PageName
	            <i class="@(firstLevelItem.HasChildren.Value ? "icon-chevron-down right" : "right")"></i>
	        </a>
	    </div>
	    <div id="collapse-@firstLevelItem.Page.ContentLink.ID" class="accordion-body collapse @(firstLevelItem.Selected ? "in" : "")">
	        <ul>
	            @Html.MenuList(firstLevelItem.Page.ContentLink, SubLevelItemTemplate)
	        </ul>
	    </div>
		return new HelperResult(w => Task.CompletedTask);
} }

@{ HelperResult SubLevelItemTemplate(HtmlHelpers.MenuItem subLevelItem) {
	    <li class="@(subLevelItem.Selected ? "active" : null)">
	        @Html.PageLink(subLevelItem.Page)
	    </li>
		return new HelperResult(w => Task.CompletedTask);
} }

<div id="alloyDrop" class="accordion">
    <div class="accordion-group">
        @if(Model.Section != null) {
            @Html.MenuList(Model.Section.ContentLink, ItemTemplate)
        }
    </div>
</div>